# api
NODE_ENV=
PORT=
CORS=

# mongo
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_NAME=

# users
DEFAULT_ADMIN_PASSWORD=
DEFAULT_USER_PASSWORD=

# auth
AUTH_JWT_SECRET=

# api keys
PUBLIC_API_KEY_TOKEN=
ADMIN_API_KEY_TOKEN=